{
	email admin@wycc220.com
}

wycc220.com {
	encode zstd gzip
	reverse_proxy 127.0.0.1:3000

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}
}

www.wycc220.com, wycc220.ru, www.wycc220.ru, elwycco.com, www.elwycco.com, elwycco.ru, www.elwycco.ru {
	redir https://wycc220.com{uri} permanent
}
